/*
Responsive Web Design
*/
// Variables
$primary-color: #1F1F3F;
$secondary-color: #FFF;
$primary-shadow-color: rgba(50, 50, 50, 0.24);
$link-color: rgb(47, 148, 61);
$font-stack: sans-serif;
// Reset 
@import 'reset';


/*------------------ Grid View ---------------------*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    //border: 1px solid blue;
}

.row::after {
    content: "";
    clear: both;
    display: table;   // Why display table?
}
* {
    box-sizing: border-box;
}
/*--------------------------- RWD -------------------------------------*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
/*--------------------------- Main Settings ---------------------------*/

#wrapper {
  text-align: center;
}

body {
  text-align: left;
  background: $secondary-color url('../img/confectionary.png');
  img {
    max-width: 100%;
    height: auto;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.12), 0 2px 1px rgba(0,0,0,0.24);
    border-radius: 5px;
  }
  a {
    color: $link-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

header {
  background: $primary-color;
  //border-bottom: 5px solid #ccc;
  box-shadow: 0 5px 2px $primary-shadow-color;
  #profile {
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
  }
  #profile img {
    border-radius: 60px;
  }
  h1, h2 {
    margin: 0; padding: 0;
  }
  h1 {
    padding: 10px;
    font: 32px $font-stack;
    color: $secondary-color;
    //text-shadow: -2px -2px 2px #FCFCFC;
  }
  h2 {
    font: 20px $font-stack;
    color: $secondary-color;
    padding-bottom: 10px;
  }
}

#content {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  min-height: 550px;
}

footer {
  color: $secondary-color;
  background: $primary-color;
  box-shadow: 0 -2px 1px $primary-shadow-color;
  p {
    padding: 10px;
  }
  a {
    color: #CFCFCF;
  }
}

.timeline {
  height: 100%;
  font: 40px bold $font-stack;
}

.work {
  padding: 10px;
}

.thumb {
  text-align: center;
  /*
  min-width: 200px;
  min-height: 200px;
  */
  img {
    border: 1px solid #ccc;
    background: #ccc;
  }
  img:hover {
      border: 1px solid #999;
    }
}

.description, .media-body {
  
  h3 {
    font: 24px $font-stack;
  }
  ul {
    list-style: disc;  
    margin: 15px;
    li {
      margin: 10px;
    }
  }

}
