/*
Responsive Web Design
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------ Grid View ---------------------*/
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

[class*="col-"] {
  float: left;
  padding: 15px; }

.row::after {
  content: "";
  clear: both;
  display: table; }

* {
  box-sizing: border-box; }

/*--------------------------- Main Settings ---------------------------*/
#wrapper {
  text-align: center; }

body {
  text-align: left;
  background: #FFF url("../img/confectionary.png"); }
  body img {
    max-width: 100%;
    height: auto;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.24);
    border-radius: 5px; }
  body a {
    color: #2f943d;
    text-decoration: none; }
  body a:hover {
    text-decoration: underline; }

header {
  background: #1F1F3F;
  box-shadow: 0 5px 2px rgba(50, 50, 50, 0.24); }
  header #profile {
    padding-top: 20px;
    text-align: center;
    margin: 0 auto; }
  header #profile img {
    border-radius: 60px; }
  header h1, header h2 {
    margin: 0;
    padding: 0; }
  header h1 {
    padding: 10px;
    font: 32px sans-serif;
    color: #FFF; }
  header h2 {
    font: 20px sans-serif;
    color: #FFF;
    padding-bottom: 10px; }

#content {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  min-height: 550px; }

footer {
  color: #FFF;
  background: #1F1F3F;
  box-shadow: 0 -2px 1px rgba(50, 50, 50, 0.24); }
  footer p {
    padding: 10px; }
  footer a {
    color: #CFCFCF; }

.timeline {
  height: 100%;
  font: 40px bold sans-serif; }

.work {
  padding: 10px; }

.thumb {
  text-align: center;
  /*
  min-width: 200px;
  min-height: 200px;
  */ }
  .thumb img {
    border: 1px solid #ccc;
    background: #ccc; }
  .thumb img:hover {
    border: 1px solid #999; }

.description h3, .media-body h3 {
  font: 24px sans-serif; }
.description ul, .media-body ul {
  list-style: disc;
  margin: 15px; }
  .description ul li, .media-body ul li {
    margin: 10px; }

/*# sourceMappingURL=default.css.map */
